p, li{
    font-family:sans-serif;
}
h1{
    font-family: 'Michroma', sans-serif;
    transition: all 2s;
    
}

.container_ac p{
    font-family:sans-serif;
    color:white;
}
.container_ac h2{
    color:white;
    font-family: 'Michroma', sans-serif;
    padding: 10px;
}

li{
    list-style-type: none;
}

h3{
    padding:30px;
    font-style: italic;
}

footer p{
    padding-top: 10px;
}


.blue{
    color: blue;
}

.red{
    color: red;
}

.animatedPrenom{
    transform: translateX(100px);
}

.backPrenom{
    transform: translateX(0px);
}
  
.nightMode p {
    color: white;
}

.nightMode h3{
    color: white;
}